* {
    padding:0px;
    margin:0px;
    box-sizing:border-box;
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #fda168;
}

h1 {
    font-size:100px;
    color:#665931;
    margin-top:50px;
    text-shadow: 5px 8px 5px rgba(0, 0, 0, 0.226);
}
h2 {
    text-align: center;
    font-size:100px;
    margin-top: 40px;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.226)
}
h3 {
    font-size:15px;
    margin-top: 80px;
}

p {
    text-align: center;
    font-size:10px;
    margin-top: 35px;
}
.text {
    height: 550px;
    text-align: center;
}
.display {
    height: 550px;
}

.watch {
    height:220px;
    width:450px;
    border:10px solid white;
    border-radius:20px;
    background-color: #484848;
    margin-top: 100px;
    box-shadow: 20px 10px 20px rgba(0, 0, 0, 0.39);
}

.space_text {
    justify-content: center;
    height:500px;
}

button {
    background-color:#665931 ;
    color:white;
    border-radius:12px;
    padding:15px;
    border: none;
    margin-top:130px;
    font-weight: bold;
    width: 150px;
    margin-left:20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.185);
}

.time {
    width: 180px;
}

ion-icon {
    font-size: 18px;
}

button:hover {
   background-color:#96ecb4;
}

.option {
    margin-top: -100px;
    margin-left:20px;
}

.option button {
    margin-right: 30px;
}